@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@font-face {
  font-family: "vevey_22positive";
  src: url("/vevey_22-positive-webfont.woff2") format("woff2"), url("/vevey_22-positive-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #94c31e; /* #f3a000; /* #454545; */
  font-family: "Montserrat", sans-serif;

  color: #50555c;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "vevey_22positive", sans-serif;
}
